
h2, h3 {
  font-size: $h4-font-size;
}

.irs {
  font-family: $font-family-sans-serif;
  color: $primary; //princeton-orange;
}

.offcanvas-body {
  .irs {
    color: $primary;
  }
}

.irs--shiny {
  .irs-bar {
    color: $white;
    background: $secondary;
    border: 1px solid $secondary;
  }

  .irs-single {
//    font-size: 1rem;
    color: $dark;
    background: $light;
  }

  /* .irs-grid-text {
     font-size: 1rem;
     }
   */
}

/* .table {
   tr,td {
   padding: 0px;
   }
   } */

.shiny-input-container {
  .control-label {
    color: $primary;
    font-size: $font-size-sm;
    align: center;
  }
}

.ratio-box {
  @extend .row;
  p {
    margin-bottom: 2px;
  }
}

.area-output {
  @extend .d-flex, .flex-wrap, .justify-content-center, .align-items-start;
}

.app-content-box {
  @extend .d-lg-flex, .justify-content-center, .align-items-center, .px-0, .mx-0, ;
  p {
    @extend .m-0,.py-0;
  }
}

.ratio-content-box {
  @extend .col-6, .app-content-box;
}

.mix-content-box {
  @extend .col-lg-9, .app-content-box;
  border: 1px solid red;
}

.table-content-box {
  @extend .col-lg-3, .app-content-box;
  border: 1px solid blue;
}

.ratio-sliders {
  @extend .d-flex, .justify-content-around, .align-items-end;
  //@extend .col-sm-6, .justify-content-center, .align-items-end;
  text-align: center;

  /* .shiny-input-container {
     padding: 0px;
     margin: .5rem;
     } */
}

  .MathJax_Display {
    @extend .p-0, .m-0;
  }

.egg {
  border: 1px solid green;
}
